@page "/databinding"
@rendermode InteractiveServer

<h3>Hello @name</h3>

<input type="text" @bind-value="name" @bind-value:event="oninput" placeholder="Type your name" />

@code {
    private string name = "";
}
